<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MaintenanceConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=U:\SQL-Coursework-Copy2\SQL Coursework\manufacturing.mdf" 
			 providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>