<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQL_Coursework.Properties.Settings.UserAuthConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\wmcmullan070\source\repos\wmcmullan5\SQL-Coursework\SQL Coursework\manufacturing.mdf&quot;;Integrated Security=True&#xA;" />
    </connectionStrings>
</configuration>