<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQL_Coursework.Properties.Settings.UserAuthConnectionString"
            connectionString="AttachDbFilename=|DataDirectory|\manufacturing.mdf" />
    </connectionStrings>
</configuration>